# flyctl launch added from .gitignore
**/data*
**/node_modules
**/.venv
**/__pycache__
**/uv.lock
**/bun.lock
**/.env.local

# flyctl launch added from .venv/.gitignore
.venv/**/*

# flyctl launch added from templates/convex-tanstackrouter-shadcn/.gitignore
templates/convex-tanstackrouter-shadcn/**/node_modules
templates/convex-tanstackrouter-shadcn/**/.DS_Store
templates/convex-tanstackrouter-shadcn/**/dist
templates/convex-tanstackrouter-shadcn/**/dist-ssr
templates/convex-tanstackrouter-shadcn/**/*.local
templates/convex-tanstackrouter-shadcn/**/count.txt
templates/convex-tanstackrouter-shadcn/**/.env
templates/convex-tanstackrouter-shadcn/**/.nitro
templates/convex-tanstackrouter-shadcn/**/.tanstack
templates/convex-tanstackrouter-shadcn/**/bun.lock
fly.toml
